@import controllers.routes._
@import models.Mode

@this(
main_template: MainTemplate,
errorSummary: ErrorSummary,
submitButton: SubmitButton,
formHelper: FormWithCSRF
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@main_template(
    title = s"\${errorPrefix(form)} \${messages("$className;format="decap"$.title")}",
    showBackLink = true
    ) {

    @formHelper(action = $className$Controller.onSubmit(mode), 'autoComplete -> "off") {

        @errorSummary(form.errors)

        @inputYesNo(
            field = form("value"),
            legend = messages("$className;format="decap"$.heading"),
            headingIsLegend = true
        )

        @submitButton()
    }
}
